@model IEnumerable<Final_Project_Car_Wash.Models.Booking>

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (SignInManager.IsSignedIn(User) && User.IsInRole("carwashAdmin"))
{
<p>
    <a class="btn btn-outline-primary" asp-action="Create">Book Here</a>
</p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Id)
                </td>
                <td>
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("carwashAdmin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> 
                        <a asp-action="Details" asp-route-id ="@item.ID"> Details </a> 
                        <a asp-action = "Delete" asp-route-id = "@item.ID" > Delete </a> 
                        }
                     else if (SignInManager.IsSignedIn(User) && User.IsInRole("services"))
                    {

                     <a class="btn btn-outline-primary" href="/Services/Details/@item.ID">Add Services</a>}


                </td>
            </tr>
        }
    </tbody>
</table>
